// custome variables
$primary: #718af4;
$secondary: #616273;
$light: rgb(201, 196, 196);
$dark: #252323;

$altdark: #252323;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "altdark": $altdark,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
